[Unit]
Description=Monthly prune of Credfeto Package Cache

[Timer]
OnCalendar=monthly
AccuracySec=1h
Persistent=true

[Install]
WantedBy=timers.target
